{% extends "base.html.twig" %}

{% block content %}
    <h1>Levels</h1>
    {% for region in regions %}
        <section>
            <h2>{{ region.name }}</h2>
            <ul>
                {% for level in region.levels %}
                    <article class="lv-block lv-{{ level.code }}">
                        <h3 class="lv-header-title lv-header-title-{{ level.code }}" title="{{ level.fullName }}">
                            <a href="{{ path.level( level ) }}">
                                {{ level.fullName }}
                            </a>
                        </h3>
                        {% include( "partials/level-header-content.html.twig" ) %}
                    </article>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
{% endblock %}