<h1>Treasures</h1>
<table class="wl3-table">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col" colspan="2">Location</th>
            <th scope="col">Purpose</th>
        </tr>
    </thead>
{% for treasure in treasures %}
    <tr>
        <th scope="row"><img src="/img/treasure-{{ treasure.slug }}.png" alt="{{ treasure.name }}" /></th>
        <td>{{ treasure.level.fullName }}</td>
        <td>{{ treasure.color.name }}</td>
        <td>{{ treasure.purpose }}</td>
    </tr>
{% endfor %}
</table>